<a href="https://colab.research.google.com/github/Sergius-DS/elecciOn_datasets/blob/main/Dataset_Reducido.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA SET DIABETES

## FUNCIONES

Crear funciones para luego llamarlas desde un archivo aparte como cuando uno llama import pandas o from sklearn import (algo), así se ve más estético el notebook en Colab

In [ ]:
%%writefile funciones.py

Overwriting funciones.py

# INICIO

In [87]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
# llamar las funciones creadas también se puede from funciones import *
#from funciones import categorizar_columnas, verifica_consistencia_filas
#from funciones import *
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
ds = pd.read_csv('data_diabetes.csv')

In [89]:
ds.shape

(867970, 18)

In [90]:
ds.head(4)

,FECHA_AFILIADOS_SIS,CODIGO_ANONIMIZADO,EDAD,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,FECHA_PRIMER_DX,TIPO_DIABETES,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,HOSPITALIZADO
0,2023-03-31,0C10D14E8C401B6B5B379793BCBE586F4697366ECE8D0A...,54,CUSCO,CUSCO,SAN SEBASTIAN,MASCULINO,2019-01-11,Diabetes mellitus tipo 2,0,0,0,0,0.00,0,0.00,0,0
1,2023-03-31,CAEA7585BB5B1A1B8CB6A8612931EE04EDFF258BE91E65...,40,LIMA,CANTA,SANTA ROSA DE QUIVES,FEMENINO,2019-02-22,Diabetes mellitus tipo 2,0,0,0,0,0.00,0,0.00,0,0
2,2023-03-31,19CDB3BC20FA3B6FDB458049C73BBDA679E9E3AD54D133...,62,ICA,CHINCHA,CHINCHA BAJA,FEMENINO,2020-08-04,Diabetes mellitus tipo 2,0,1,1,0,0.00,0,0.00,0,0
3,2023-09-30,C64591A0098FC4539D342C02F3D0EF0918D5A09E63241B...,65,LAMBAYEQUE,LAMBAYEQUE,MOCHUMI,FEMENINO,2018-07-09,Diabetes mellitus tipo 2,1,1,0,0,0.00,0,0.00,0,0

In [91]:
ds[ds['CODIGO_ANONIMIZADO'].duplicated()].count()

FECHA_AFILIADOS_SIS     344172
CODIGO_ANONIMIZADO      344172
EDAD                    344172
DEPARTAMENTO            344172
PROVINCIA               344172
DISTRITO                344172
SEXO                    344172
FECHA_PRIMER_DX         344172
TIPO_DIABETES           344172
CON_DX_OBESIDAD         344172
CON_DX_HIPERTENSION     344172
CON_DX_SALUDMENTAL      344172
CANT_ATENCIONES         344172
VALOR_NETO              344172
CANT_ATENCIONES_HOSP    344172
VALOR_NETO_HOSP         344172
DIAS_HOSP               344172
HOSPITALIZADO           344172
dtype: int64

In [92]:
ds = ds[ds['FECHA_AFILIADOS_SIS'] >= '2023-09-01']

In [93]:
ds[ds.duplicated()].count()

FECHA_AFILIADOS_SIS     0
CODIGO_ANONIMIZADO      0
EDAD                    0
DEPARTAMENTO            0
PROVINCIA               0
DISTRITO                0
SEXO                    0
FECHA_PRIMER_DX         0
TIPO_DIABETES           0
CON_DX_OBESIDAD         0
CON_DX_HIPERTENSION     0
CON_DX_SALUDMENTAL      0
CANT_ATENCIONES         0
VALOR_NETO              0
CANT_ATENCIONES_HOSP    0
VALOR_NETO_HOSP         0
DIAS_HOSP               0
HOSPITALIZADO           0
dtype: int64

In [94]:
ds[ds['CODIGO_ANONIMIZADO'].duplicated()].count()

FECHA_AFILIADOS_SIS     0
CODIGO_ANONIMIZADO      0
EDAD                    0
DEPARTAMENTO            0
PROVINCIA               0
DISTRITO                0
SEXO                    0
FECHA_PRIMER_DX         0
TIPO_DIABETES           0
CON_DX_OBESIDAD         0
CON_DX_HIPERTENSION     0
CON_DX_SALUDMENTAL      0
CANT_ATENCIONES         0
VALOR_NETO              0
CANT_ATENCIONES_HOSP    0
VALOR_NETO_HOSP         0
DIAS_HOSP               0
HOSPITALIZADO           0
dtype: int64

In [95]:
ds['HOSPITALIZADO'].value_counts(normalize=True)

HOSPITALIZADO
0   0.98
1   0.02
Name: proportion, dtype: float64

OBSERVACIONES:

Valor en proporción/porcentaje

In [96]:
ds['HOSPITALIZADO'].value_counts()

HOSPITALIZADO
0    298625
1      4682
Name: count, dtype: int64

OBSERVACIONES:

Valor en número de ocurrencias dentro del set de datos

In [97]:
ds.describe()

,EDAD,CON_DX_OBESIDAD,CON_DX_HIPERTENSION,CON_DX_SALUDMENTAL,CANT_ATENCIONES,VALOR_NETO,CANT_ATENCIONES_HOSP,VALOR_NETO_HOSP,DIAS_HOSP,HOSPITALIZADO
count,303307.00,303307.00,303307.00,303307.00,303307.00,303307.00,303307.00,303307.00,303307.00,303307.00
mean,55.44,0.64,0.38,0.22,0.55,52.00,0.02,40.45,0.18,0.02
std,16.83,0.48,0.48,0.42,1.19,841.04,0.16,832.96,2.36,0.12
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,46.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,57.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,67.00,1.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
max,119.00,1.00,1.00,1.00,134.00,169866.74,11.00,169866.74,190.00,1.00

In [108]:
ds[(ds['EDAD'] == 0) | (ds['EDAD'] <= 11)].count()

FECHA_AFILIADOS_SIS     3406
CODIGO_ANONIMIZADO      3406
EDAD                    3406
DEPARTAMENTO            3406
PROVINCIA               3406
DISTRITO                3406
SEXO                    3406
FECHA_PRIMER_DX         3406
TIPO_DIABETES           3406
CON_DX_OBESIDAD         3406
CON_DX_HIPERTENSION     3406
CON_DX_SALUDMENTAL      3406
CANT_ATENCIONES         3406
VALOR_NETO              3406
CANT_ATENCIONES_HOSP    3406
VALOR_NETO_HOSP         3406
DIAS_HOSP               3406
HOSPITALIZADO           3406
dtype: int64

OBSERVACIONES:

Arelys proponía partir de un rango de edad sobre 11 años.

In [98]:
ds[ds['EDAD'] == 0].count()

FECHA_AFILIADOS_SIS     91
CODIGO_ANONIMIZADO      91
EDAD                    91
DEPARTAMENTO            91
PROVINCIA               91
DISTRITO                91
SEXO                    91
FECHA_PRIMER_DX         91
TIPO_DIABETES           91
CON_DX_OBESIDAD         91
CON_DX_HIPERTENSION     91
CON_DX_SALUDMENTAL      91
CANT_ATENCIONES         91
VALOR_NETO              91
CANT_ATENCIONES_HOSP    91
VALOR_NETO_HOSP         91
DIAS_HOSP               91
HOSPITALIZADO           91
dtype: int64

OBSERVACIONES:

Tenemos 117 casos con pacientes que tienen edad CERO, no sé si quieren conservar "0" en sí o cambiar a "1", "CERO, ALGO" = "0.5" para que no vaya a afectar tanto al sacar el promedio

In [99]:
ds[ds['EDAD'] > 100].count()

FECHA_AFILIADOS_SIS     36
CODIGO_ANONIMIZADO      36
EDAD                    36
DEPARTAMENTO            36
PROVINCIA               36
DISTRITO                36
SEXO                    36
FECHA_PRIMER_DX         36
TIPO_DIABETES           36
CON_DX_OBESIDAD         36
CON_DX_HIPERTENSION     36
CON_DX_SALUDMENTAL      36
CANT_ATENCIONES         36
VALOR_NETO              36
CANT_ATENCIONES_HOSP    36
VALOR_NETO_HOSP         36
DIAS_HOSP               36
HOSPITALIZADO           36
dtype: int64

OBSERVACIONES:

Aquí elegí de forma arbitaria una edad razonable hasta 100 años, yo creo máximo hasta 110, lo demás imputarlo con MEDIANA, MODA, valor máx (100 años)

para ver qué opinan ustedes

In [100]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 303307 entries, 3 to 867969
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   FECHA_AFILIADOS_SIS   303307 non-null  object
 1   CODIGO_ANONIMIZADO    303307 non-null  object
 2   EDAD                  303307 non-null  int64
 3   DEPARTAMENTO          303307 non-null  object
 4   PROVINCIA             303307 non-null  object
 5   DISTRITO              303307 non-null  object
 6   SEXO                  303307 non-null  object
 7   FECHA_PRIMER_DX       303307 non-null  object
 8   TIPO_DIABETES         303307 non-null  object
 9   CON_DX_OBESIDAD       303307 non-null  int64
 10  CON_DX_HIPERTENSION   303307 non-null  int64
 11  CON_DX_SALUDMENTAL    303307 non-null  int64
 12  CANT_ATENCIONES       303307 non-null  int64
 13  VALOR_NETO            303307 non-null  float64
 14  CANT_ATENCIONES_HOSP  303307 non-null  int64
 15  VALOR_NETO_HOSP       303307 non-null  float64
 16  DIAS_HOSP             303307 non-null  int64
 17  HOSPITALIZADO         303307 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 44.0+ MB

In [101]:
ds['VALOR_NETO'].value_counts()

VALOR_NETO
0.00       259822
3.54         1165
7.08          760
4.56          559
1.77          469
            ...
2428.84         1
315.42          1
1354.73         1
59.57           1
144.00          1
Name: count, Length: 19525, dtype: int64

OBSERVACIONES:

Tenemos 259822 valores que son CERO, lo que se le llama "zero-inflation" y por eso afecta el resultado del comando describe

Teniendo 43485 valores que no son CERO en ds['VALOR_NETO']

In [102]:
ds['VALOR_NETO'].describe()

count   303307.00
mean        52.00
std        841.04
min          0.00
25%          0.00
50%          0.00
75%          0.00
max     169866.74
Name: VALOR_NETO, dtype: float64

In [103]:
print(len(ds['VALOR_NETO']) - 259822)

43485